:root {
    --animate-delay: 4s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

.loader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    animation: change-color 20s linear both;
}


.loader__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: black;
    border: 5px solid gray;
    border-right: 5px solid green;
    box-shadow: 0px 0px 30px green;
    border-radius: 50%;
    transition: border 0.25s;
    animation: loader 20s both linear;
}

img {
    width: 150px;
    height: 150px;

}

@keyframes loader {
    90% {
        transform: rotateZ(3600deg);
        background: black;
        border: 5px solid gray;

        width: 50px;
        height: 50px;
    }

    100% {
        width: 200px;
        height: 200px;
        background: green;
        border: green;
    }
}

@keyframes change-color {
    100% {
        filter: hue-rotate(1440deg);
    }
}